body {
    margin: 0;
    padding: 0;
}


#innhold {
    width: 500px;
    height: 500px;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    float: center;
}

.hover {
    background-color: red;
}

div {
width: 1px;
height: 1px;
padding: 2px;
margin: 2px;
background-color: black;
float: left;
}


